*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                


body{
    background-image: url(medicine.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    margin-top: 10px;
    width: 80%;
    margin-left: 100px;
    border: 2px solid transparent;
    border-radius: 50px;
}

left-section {
    display: flex;
    align-items: center;
}

.delivery{
    display: flex;
    align-items: center;
 
}
.delivery h3{
    margin-right: 20px;
}
.btn1{
    width: 90px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 40px;
   background-color:  orangered;
}
h1{
    margin-right: auto;
}


.image-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures that the container takes up the full viewport height */
}

.image {
    text-align: center; /* Center align the content within the container */
}

.des {
    text-align: center; /* Center align the text */
}



.des{
    
    width:auto;
    height: auto;
    background-color:white;

    justify-content: center;
    text-align: center;
    align-items: center;
    
    margin: 0 400px 20px 400px;
  
    border-radius: 15px;
    
}
.btn2{
    width: 90px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 40px;
   background-color:  orangered;
   text-align: center;
   
}
